* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

/* banner section style here  */
.banner {
  background: rgba(229, 84, 115, 0.1);

  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 95px;
  height: 100vh;
  padding: 50px;
}
.banner-text {
  padding-left: 240px;
  width: 50%;
}
.banner-photo {
  width: 100%;
  padding-left: 240px;
}
